@import "tailwindcss";

@theme {
  --color-primary: oklch(76.9% 0.188 70.08);
  --color-secondary: #193cb8;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    box-sizing: border-box;

    @apply flex items-start justify-center w-screen h-screen overflow-hidden dark:bg-black;
  }
}

@layer components {
  .toDo {
    @apply bg-gray-100;
  }
  .inProgress {
    @apply bg-amber-50;
  }
  .done {
    @apply bg-green-50;
  }
}
